$redheader: #ec4d2f;
$red: #b83922;
$main: #1d1b2b;
$white: #ffffff;
$btn: #3b222b;

.main {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 20%;
}

.main-left,
.main-right {
    display: flex;
    flex-direction: column;
    width: 47%;   
    flex: 1 1 20rem; 
}

.main-right {
    width: 53%;
}
.main-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(220px + (520 - 220) * ((100vw - 375px) / (1920 - 375)));;
}

.main-name1 {
    font-size: calc(120px + (240 - 120) * ((100vw - 375px) / (1920 - 375)));
    font-family: 'Oswald';
    margin: 0;
    margin-top: 15px;
    align-items: flex-start;
}

.main-name2 {
    color: $red;
    font-size: calc(60px + (100 - 60) * ((100vw - 375px) / (1920 - 375)));
    font-family: 'Charm';
    margin: 0;
    margin-left: auto;
    margin-top: -0.9em;
}

.main-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}

.main-text {
    margin-top: 24px;
    font-size: 17px;
}

.main-left ul {
    padding-left: 30px;
    list-style-type: circle;
    color: $red;
}

.main-left ul li {
    margin: 10px;
    font-size: 22px;
    margin-left: -10px;
}

.main-left ul li span {
    color: $white;
    font-size: 16px
}

.main-left-btn {
    text-transform: uppercase;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: solid 2px $red;
    border-radius: 15px;
    color: $white;
    background-color: $btn;
    font-size: 20px;
}


.main-carousel {
    display: block;
    margin-top: 60px;
    // height: 40vw;
    // width: 50vmin;
    // height: 50vmin;    
}

.main-discount {
    display: flex;
    margin-left: 20px;
    // width: 175px;
    // height: 175px;

    width: 9vw;
    height: 9vw;


    border: solid 3px $redheader;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'Charm';
    // font-size: 46px;
    font-size: calc(16px + (46 - 16) * ((100vw - 375px) / (1920 - 375)));
    color: $red;
    // margin-top: 60px;

    margin-bottom: auto;
    margin-right: auto;
}

.main-carousel-img {
    // display: flex;
    margin-left: 65px;
    // width: 650px;
    // height: 650px;
    
    width: 35vw;
    height: 35vw;

    // width: 10em;
    border: solid 3px $redheader;
    border-radius: 50%;
    margin-top: -140px;
    background-color: $btn;

    margin-left: auto;
    margin-top: auto;
    margin-top: -7vw;
    // background: url(../assets/imgs/menu-pizza-001.png);
}

.main-carousel-img img{
    width: 100%;
    height: 100%;
}

.main-right-buttom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 22px;
    height: 50px;
    // width: calc(100% - 0px);
    gap: 20px;
}

.main-right-btn-left,
.main-right-btn-right {
    width: 90px;
    color: $white;
    background-color: $red;
    font-size: 27px;
}

.main-right-btn-left {
    border-radius: 50px 0px 0px 50px;
}

.main-right-btn-right {
    border-radius: 0px 50px 50px 0px;
}



@media(max-width:900px) {

    .main {
        //width: calc(100% - 10px);
        width: 100%;
        flex-direction: column;
        margin: 0 1%
    }


    .main-left,
    .main-right {
        width: calc(100% - 10px);
        padding-left: 10px;
    }
    .main-left-btn{
        margin: 0 auto;
    }

    .main-right{
        margin-top: 100px;
    }

    .main-name2 {
        // margin: -100px 0 27px 20px;
    }
    .main-name1 {
        // margin-left: 20px;
    }

    .main-carousel-img {        
        width: 50vw;
        height: 50vw;
        margin-top: -10vw;
        margin-left: 4vw;
    }
    .main-discount {
    
        width: 12vw;
        height: 12vw;     
    }

    .main-carousel {
        // width: 70%;
        // height: 50vw;
        margin: 0 auto;
        // display: block;
        // margin-top: 60px;
        // height: 40vw;
        // width: 50vmin;
        // height: 50vmin;    
    }


}







