
@import '../css/header';

body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container{
    // width: 1600px;
    height: 100%; 
    // margin-left: 50px;
    // margin-right: 50px;
}