<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza_Layout</title>
</head>
<body>
    <div class="container">
        <%= htmlWebpackPlugin.options.header %>
        <section class="menu">
            <h1>Меню</h1>
            <div class="menu-items">
                
                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-001.png" alt="">
                    </div>                    
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-002.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-003.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-004.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-005.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-006.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-007.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-008.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>

                <div class="menu-element">
                    <div class="menu-img">
                        <img src="./assets/imgs/menu-pizza-009.png" alt="">
                    </div>
                    <p class="menu-name">Lorem ipsum</p>
                    <p class="menu-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <p class="menu-price">120 грн</p>
                    <button class="menu-btn">Lorem ipsum</button>
                </div>


            </div>
            <div class="menu-bottom-buttom">
                <button class="menu-bottom-btn-left"> ❮</button>
                <button class="menu-bottom-btn-right"> ❯</button>                
            </div>
            <p class="menu-page-counter">1 / 3</p>
        </section>        
        <%= htmlWebpackPlugin.options.footer %>        
    </div>
</body>
</html>